
    <h1>Seja bem-vindo ao FinanSESI!!!</h1>
    <h3>Aprendendo programação e finanças</h3>

    <div class="lista_cards">
        <a href="/juros_simples" class="card">
            <h2 class="titulo">Juros Simples</h2>
            <img src="img/juros_simples.png"/>
        </a>
        <a href="/juros_composto" class="card">
            <h2 class="titulo">Juros Composto</h2>
            <img src="img/juros_composto.png"/>
        </a>
    </div>