
    <h1>Projeto desenvolvido por</h1>
    <p>Douglas Camata de Araujo e Ricardo dos Anjos Dias</p>
    <hr>
    <p>Este projeto foi desenvolvido com o intuito de criar um sistea para 
        aprendermos programação e finanças </p>
    <hr>
    <strong>Desenvolvido em sala de aula em parceria SESI / SENAI</strong>
